<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Symset</title>
   
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <style>
    .alert:empty{display:none}
    </style>
   
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body dir="ltr">
<div class="container">
        <div ng-controller="carListCtrl">

            <h3>List of car models</h3>
            
            <ul>
                <li ng-repeat="carModel in carModels">{{carModel.name}} - {{carModel.price | currency:"$":0}}</li>
            </ul>
            
            
            <p class="alert alert-danger">{{addModelError}}</p>
            
            <label>Car model name: <input type="text" ng-model="newCarModel"></label>
            
            <br /><br />
            
            <label>Car model price: <input type="text" ng-model="newPrice"></label>
            
            <br /><br />
            
            <button ng-click="addItem(newCarModel, newPrice)">+ Add model and price</button>

        </div>
</div>

<script>
var myApp = angular.module('myApp', []);

myApp.controller('carListCtrl', function($scope){
    $scope.carModels = [
        {name: "Audi"   , price: "30000"},
        {name: "Jaguar" , price: "60000"},
        {name: "Sussita", price: "2500"},
    ];
    
    $scope.addItem = function(newCarModel, newPrice){
        $scope.addModelError = "";
        
        if(newCarModel === undefined || newCarModel == "" || newPrice === undefined || newPrice == ""){
            $scope.addModelError = "Please enter new car model and price.";
        } else if(!parseInt(newPrice)) {
            $scope.addModelError = "Please provide a number as a price.";
        } else if(/[^a-zA-Z ]/.test(newCarModel) || newCarModel.length < 3) {
            $scope.addModelError = "Please provide a valid car model name.";
        } else {
            $scope.carModels.push({
                name : newCarModel,
                price: parseInt(newPrice)
            }); 
        }
    };
});

</script>
</body>
</html>
